body {
  background-image: url("../assets/blur-1.png"), url("../assets/blur-2.png");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-color: black;
  background-position: bottom left, top right;

  min-height: 100vh;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  padding: 2rem 2rem 0 2rem;
}

.container-header {
  width: min(60rem, 100%);
  height: 5rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

picture {
  width: min(6rem, 100%);
  height: min(3.125rem);
  object-fit: cover;
}

.navigation-header {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 0 auto;
}

.navigation-header button {
  border: transparent;
  background-color: transparent;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ffffff;
}
#get-my-coffee {
  display: flex;
  align-items: center;
}

#get-my-coffee button {
  border: 1px solid var(--button);
  border-radius: 6px;
  background-color: transparent;
  font: 800 0.8rem "Manrope";
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.6rem 2.3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  min-height: calc(100vh - 7rem);

  padding: 5% 5% 0;
}

.title-coffee-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-coffee-image img {
  object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) {
  #description-text-my-coffee,
  .menu-toggle {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url("../assets/blur-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
  }

  header {
    position: relative;
    border-bottom: 1px solid rgba(41, 41, 46, 1);
  }

  .navigation-header,
  #get-my-coffee {
    display: none;
  }

  .container-header {
    justify-content: space-between;
  }

  main {
    justify-content: unset;
  }

  #description-text-my-coffee {
    width: min(25rem, 100%);

    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    margin-top: 4rem;
  }

  #description-text-my-coffee h1 {
    font: 600 2rem "Manrope";
    color: #ffffff;
    line-height: 3.5rem;
    text-align: center;
  }

  #description-text-my-coffee button {
    border: 1px solid var(--button);
    border-radius: 6px;
    background-color: transparent;
    font: 800 0.8rem "Manrope";
    color: #ffffff;
    text-transform: uppercase;
    padding: 0.6rem 2.3rem;

    width: 14rem;
    height: 3rem;
  }

  .title-coffee-image {
    margin-top: auto;
  }
}
