@media (min-width: 768px) {
  nav.menu-mobile {
    display: none;
    visibility: hidden;
  }
}

nav.menu-mobile:not(.active) {
  display: none;
  visibility: hidden;
}

nav.menu-mobile.active {
  position: absolute;
  width: 100%;
  height: calc(100vh - 7rem);
  background-color: black;
  top: calc(7rem + 1px);

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font: 700 1rem "Manrope";
  color: var(--border-menu-mobile);

  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid rgba(41, 41, 46, 1);
  padding: 1rem 0 1rem 1.9rem;
}

a:hover {
  font: 700 1rem "Manrope";
  color: var(--text-color-menu-mobile);
}
